.createdproblemtile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 10px 10px;
}

.createdproblemtile .title {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    font-weight: 600;
}


.createdproblemtile .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 80%;
    width: 20%;
    font-weight: 600;
}

.createdproblemtile .btn {
    height: 100%;
    width: 95px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--primary);
    background: transparent;
    color: var(--primary);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.createdproblemtile .btn:hover {
   background: var(--primary);
  color: white;
}
