 .modal-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.7);
     display: none;
     justify-content: center;
     align-items: center;
     /* z-index: 3000; */
 }

 .modal {
     background: var(--bg-card);
     padding: 35px;
     width: 100%;
     max-width: 400px;
     border-radius: 14px;
     border: 1px solid var(--border);
     position: relative;
 }


 .modal h2 {
     text-align: center;
     margin-bottom: 15px;
 }

 .modal p {
     text-align: center;
     font-size: 14px;
     color: var(--text-muted);
     margin-bottom: 25px;
 }

 .modal .form-group {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
     margin-bottom: 18px;
     /* height: ; */
 }

 .modal .form-group label {
     display: block;
     /* text-align: start; */
     margin-bottom: 6px;
     color: var(--text-muted);
 }



 /* .modal .form-group .error{
  text-align: start;
  margin-top: 4px;
  color: var(--error);;
} */

 .modal .form-group input {
     width: 100%;
     padding: 12px;
     border-radius: 8px;
     border: 1px solid var(--border);
     background: #020617;
     color: var(--text-main);
 }

 .modal .btn {
     width: 100%;
     padding: 12px;
     border-radius: 8px;
     border: none;
     background: var(--primary);
     color: white;
     font-weight: 600;
     cursor: pointer;
 }
  .modal .btn1 {
     width: 50%;
     border-radius: 8px;
     text-align: start;
     border: none;
     background: var(--bg-card);
     color: white;
     font-weight: 600;
     cursor: pointer;
 }

 .modal .btn:hover {
     background: var(--secondary);
 }

 .close-btn {
     position: absolute;
     top: 12px;
     right: 14px;
     background: transparent;
     border: none;
     color: var(--text-muted);
     font-size: 22px;
     cursor: pointer;
 }

 .footer-text {
     text-align: center;
     margin-top: 20px;
     font-size: 14px;
     color: var(--text-muted);
 }

 .footer-text a {
     color: var(--primary);
     text-decoration: none;
     font-weight: 600;
      cursor: pointer;
 }

 .forgot{
    color: var(--text-muted);
    text-decoration: none;
 }

.link{
    cursor: pointer;
}
 .footer-text a:hover {
     text-decoration: underline;
 }

 .modal .error_main{
    color: #ff4d4f;         
    font-size: 0.875rem;    
    margin-top: 6px;   
     min-height: 1.25rem;     
    transition: opacity 0.3s ease;   
 }

.modal .form-group .error {
    color: #ff4d4f;         
    font-size: 0.875rem;    
    margin-top: 6px;         
    text-align: start;     
    min-height: 1.25rem;     
    transition: opacity 0.3s ease; 
}

