.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: var(--bg-card);
  border-bottom: 1px solid var(--border);
  z-index: 1000;
}

.navbar .heading a {
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: var(--text-main);
}

.auth-buttons button {
  padding: 8px 20px;
  border-radius: 6px;
  border: 2px solid var(--primary);
  background: transparent;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s ease;

}

.auth-buttons button:hover {
  background: var(--primary);
  color: white;
}