.problemspage {
    display: flex;
    gap: 12px;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    /* border: 2px solid red; */
}


.problemspage .problems {
    width: 65%;
    /* border: 2px solid green; */
    margin-left: 10px;
}

.problemspage .filters {
    width: 35%;
    /* border: 2px solid green; */
}

.problemspage .filter-card input{
   display: flex;
    width: 100%;
    height: 100%;
    background: #020617;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.problemspage .filter-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    margin-bottom: 10px;
}

.problemspage .filter-card .heading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


.problemspage .filter-card .card-items span{    
    display: inline-block;
    height: 30px;
    /* width: 20%; */
    text-align: center;
    padding: 2px 10px;
    border-radius: 6px;
    border: 1px solid var(--primary);
    margin-left: 10px;
    margin-bottom: 10px;
    background: transparent;
    color: var(--primary);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
