.userprofile_2 .main{
    display: flex;
    border: 2px solid red;
    width: 100%;
    height: calc(100vh - 60px);
}


.userprofile_2 .main .left{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.userprofile_2 .main .left .header{
    display: flex;
    height: 60px;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
    border-bottom: 1px solid var(--border);
}

.userprofile_2 .main .left .header button{
    width: 15%;
    height: 40px;
    text-align: center;
    margin-right: 15px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    background: var(--bg-card);  
    border: 1px solid var(--border);
}

.userprofile_2 .main .left .body{
    width: 100%;
    padding: 10px 10px;
    flex: 1;
    background: var(--bg-main);
    overflow-y: auto;
}

.userprofile_2 .main .right{
    width: 30%;
    height: 100%;
    overflow-y: auto;
    position: sticky;
    top: 0;
    /* border: 2px solid green; */
}

.userprofile_2 .main .right div{
    width: 100%;
    height: 60px;
    border: 2px solid green;
}




