.userprofile_2 .main{
    display: flex;
    /* border: 2px solid red; */
    width: 100%;
    height: calc(100vh - 60px);
}


.userprofile_2 .main .left{
    width: 70%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
}

.userprofile_2 .main .left .header{
    display: flex;
    height: 60px;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
    border-bottom: 1px solid var(--border);
}

.userprofile_2 .main .left .header button{
    width: 15%;
    height: 40px;
    text-align: center;
    margin-right: 15px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    background: var(--bg-card);  
    border: 1px solid var(--border);
}

.userprofile_2 .main .left .body{
    width: 100%;
    padding: 10px 10px;
    flex: 1;
    background: var(--bg-main);
    overflow-y: auto;
}

.userprofile_2 .main .right{
    width: 30%;
    height: 100%;
    padding: 5px;
    /* border: 1px solid cyan; */
}

.userprofile_2 .main .right .userdata{
    width: 100%;
    /* padding: 10px 0px; */
    border: 2px solid var(--border);
    background: var(--bg-card);
    border-radius: 10px;
}

.userprofile_2 .main .right .user_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--border);
    font-size: 18px;
    font-weight: 800px;
    
}

.userprofile_2 .main .right .fields{
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin-top:10px ;
}

.userprofile_2 .main .right .field_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    border-right:1px solid var(--border);
}

.userprofile_2 .main .right .field_value{
    flex: 1;
    display: flex;
    align-items: center;
    padding:10px
}

.userprofile_2 .main .right .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top: 2px solid var(--border);
}

.userprofile_2 .main .right .buttons .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600px;
    width: 80%;
    height: 40px;
    border: 1px solid var(--border);
    margin-top: 8px;
    border-radius: 10px;
    background:var(--bg-card);
    cursor: pointer;
}




